/* 1024 */
@media (max-width: 1360px ) {
  .container {
    max-width: 1024px;
  }

  .p-l-r {
    padding: 0 50px;
  }

  /* header */
  .header__container {
    justify-content: space-between;
  }

  .header-top-menu--burger {
    display: block;
  }

  .header__btn-container--1024 {
    display: block;
  }

  .header__logo-link {
    margin-right: 0;
  }

  .header__nav,
  .header__log-in,
  .header__bottom-menu {
    display: none;
  }

  .header__logo-link {
    width: 188px;
    height: 42px;
  }

  .header__logo-link img {
    width: inherit;
    height: inherit;
  }

  /* hero */
  .hero {
    background-image: url(../img/hero-img-1024-1.jpg);
  }

  /* hero-keyframes */
  @keyframes bg-change{
    0% {
      background-image: url(../img/hero-img-1024-1.jpg);
    }
    50% {
      background-image: url(../img/hero-img-1024-2.jpg);
    }
    100% {
      background-image: url(../img/hero-img-1024-3.jpg);
    }
  }

  .hero__content {
    max-width: 661px;
  }

  .hero__descr {
    margin-bottom: 108px;
    max-width: 661px;
  }

  /* about-us */
  .about-us__descr {
    max-width: 925px;
  }

  /* gallery */
  .gallery__content {
    max-width: 280px;
    justify-content: unset;
  }

  .gallery__content--top-wrapper {
    margin-bottom: 82px;
  }

  .check-box__form:not(:last-child) {
    margin-bottom: 0px;
  }

  .gallery__swiper {
    margin-right: 0;
    max-width: 594px;
  }

  /* catalog */
  .catalog__descr {
    max-width: 925px;
  }

  .artist-info {
    max-width: 437px;
    width: 100%;
  }

  .photo__container {
    max-width: 437px;
    width: 100%;
    min-height: 274px;
  }

  .accordion__inner-list {
    column-count: 2;
    width: 100%;
  }

  .none-info__picture {
    padding: 8px;
    max-width: 189px;
    height: 130px;
  }

  .none-info__picture div {
    max-width: 173px;
    height: 114px;
  }

  /* events */
  .events__card {
    /* height: 683px; */
    /* max-width: 290px; */
  }

  .events__card-img {
    height: 200px;
  }

  .events__card-info {
    padding: 10px 34px 49px 34px;
    /* height: 483px; */
    height: calc(100% - 200px);
  }

  .time__event {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 400;
  }

  .title__event {
    margin-bottom: 5px;
  }

  .events__btn-container {
    display: none;
  }

  .swiper__events-pagination {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
    background: #CACACA;
    opacity: 1;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,7px);
  }

  .swiper-pagination-bullet-active {
    background: #666;
  }

  /* projects */
  .projects__descr {
    max-width: 925px;
  }

  .partners__swiper-container {
    padding: 0px 53px;
  }

  /* map */
  .map__main-container {
    height: 342px;
  }

  .map__container {
    flex-direction: column;
    align-items: unset;
  }

  .location {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .callback__container {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: inherit;
  }

  .callback__validate-form {
    justify-content: space-between;
  }

  .callback__btn {
    max-width: 343px;
    width: 100%;
  }
}

/* 768 */
@media (max-width: 990px) {
  .container {
    max-width: 668px;
  }

  /* header */
  .btn__svg--1024 {
    width: 27px;
    height: 27px;
  }

  /* hero */

  /* about-us */

  /* gallery */
  .gallery {
    height: unset;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__content {
    margin-right: 0;
    margin-bottom: 40px;
    max-width: 281px;
  }

  .choices__inner {
    min-height: 40px;
  }

  .gallery__content--top-wrapper {
    margin-bottom: 50px;
  }

  .gallery__swiper {
    max-width: 668px;
    width: 100%;
  }

  /* catalog */
  .catalog__main-text {
    margin-bottom: 30px;
  }

  .catalog__content {
    flex-direction: column;
  }

  .periods {
    margin-bottom: 50px;
    order: -1;
  }

  .artist-info {
    margin-right: 0;
    max-width: 668px;
    width: 100%;
  }

  .photo__container {
    max-width: inherit;
    width: 100%;
    min-height: 419px;
  }

  /* events */
  .events__card-info {
    padding: 10px 36px 49px 37px;
  }

  .time__event {
    margin-bottom: 8px;
  }

  /* projects */
  .partner {
    height: 106px;
  }

  .partner__img {
    max-height: 73px;
    max-width: 210px;
  }

  /* map */
  .map__main-container {
    height: 404px;
  }

  .callback__validate-form {
    flex-wrap: wrap;
  }

  .callback__input-container {
    margin-right: 0;
    margin-bottom: 12px;
    max-width: 323px;
  }

  .callback__btn {
    max-width: 317px;
    width: 100%;
  }
}

/* mobile 320 */
@media (max-width: 600px) {
  h2 {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    max-width: 290px;
  }

  .p-l-r {
    padding: 0 15px;
  }

  /* header */
  .header__container {
    align-items: center;
    padding: 12px 0;
  }

  .header-top-menu--burger {
    width: 25px;
    height: 18px;
  }

  .header-top-menu--burger span {
    width: 16px;
    height: 2px;
  }

  .header-top-menu--burger span::before {
    top: 7px;
    width: 10px;
    height: 2px;
  }

  .header-top-menu--burger span::after {
    top: -7px;
    width: 25px;
    height: 2px;
  }

  .header__logo-link {
    width: 97px;
    height: 22px;
  }

  .header__btn-container--1024 {
    width: 18px;
    height: 18px;
  }

  .header__btn--1024 {
    width: inherit;
    height: inherit;
  }

  .btn__svg--1024 {
    width: inherit;
    height: inherit;
  }

  /* hero */
  .hero {
    background-image: url(../img/hero-img-mobile-1.jpg);
  }

  /* hero-keyframes */
  @keyframes bg-change{
    0% {
      background-image: url(../img/hero-img-mobile-1.jpg);
    }
    50% {
      background-image: url(../img/hero-img-mobile-2.jpg);
    }
    100% {
      background-image: url(../img/hero-img-mobile-3.jpg);
    }
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 20px;
    max-width: 265px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero__btn {
    max-width: 200px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
  }

  /* about-us */
  .about-us__title {
    font-size: 28px;
    line-height: 38px;
  }

  .about-us__descr {
    max-width: 290px;
    font-size: 14px;
    line-height: 28px;
  }

  /* gallery */
  .gallery {
    background-image: url(../img/background-img-gallery-section-mobile.jpg);
  }

  .gallery__title {
    font-size: 28px;
    line-height: 38px;
  }

  .gallery__content {
    max-width: 100%;
  }

  .gallery__content--top-wrapper {
    margin-bottom: 40px;
  }

  .gallery__swiper {
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .gallery__swiper-container {
    margin-bottom: 20px;
  }

  .swiper__btn-container {
    margin: 0 auto;
    height: 30px;
    max-width: 120px;
    order: 2;
  }

  /* catalog */
  .catalog {
    padding-bottom: 0;
  }

  .catalog__title {
    font-size: 28px;
    line-height: 38px;
  }

  .catalog__descr {
    display: none;
  }

  .catalog__main-text {
    margin-bottom: 12px;
  }

  .accordion__heading {
    padding: 20px 120px 20px 0;
  }

  .head-icon {
    width: 30px;
    height: 30px;
  }

  .accordion__heading-text-wrap {
    font-size: 18px;
    line-height: 32px;
  }

  .accordion__inner-list {
    column-count: 1;
    width: 100%;
  }

  .accordion__content-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .accordion__content-wrap.accordion__content-wrap--none-info {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .photo__container {
    margin-bottom: 20px;
    max-width: inherit;
    width: 100%;
    min-height: 181px;
  }

  .artist__bio--none-info {
    margin-bottom: 5px;
  }

  .none-info__heading {
    font-size: 18px;
  }

  .none-info__picture {
    padding: 6px;
    max-width: 90px;
    height: 130px;
  }

  /* events */
  .events {
    padding-bottom: 0;
  }

  .events__title {
    font-size: 28px;
    line-height: 38px;
  }

  .events__card-info {
    padding: 10px 18px 49px 18px;
  }

  /* projects */
  .projects {
    padding-bottom: 0;
  }

  .projects__main-content {
    margin-bottom: 20px;
  }

  .projects__partner-title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .partners__swiper-container {
    padding: 0px 47px;
  }

  .partners__swiper-btn {
    top: 25%;
  }

  .partner {
    height: 65px;
  }

  .partner__img {
    max-height: 37px;
    max-width: 142px;
  }

  /* map */
  .map {
    padding-bottom: 0;
  }

  .map__main-container {
    margin-bottom: 20px;
    height: unset;
  }

  .map__main-container {
    border: none;
  }

  .location {
    margin-bottom: 20px;
  }

  .location__name {
    font-size: 18px;
    line-height: 25px;
  }

  .location__descr {
    font-size: 14px;
    line-height: 19px;
  }

  .callback__container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .callback__input-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .callback__input {
    height: 40px;
  }

  .callback__btn {
    display: none;
  }

  .callback__btn--mobile {
    display: block;
    max-width: 128px;
    width: 100%;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .messenger__descr {
    font-weight: 400;
    font-size: 18px;
  }

  .messengers__link {
    width: 49px;
    height: 49px;
  }

  .messengers__link img {
    width: 49px;
    height: 49px;
  }

  #map {
    height: 320px;
  }

  /* footer */
  .footer {
    background: #000;
    height: 132px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__logo {
    width: 97px;
    height: 22px;
    order: 2;
  }

  .footer__social-list {
    margin-bottom: 20px;
  }

  .footer__social-list-item,
  .footer__item-link,
  .item__link-svg {
    width: 50px;
    height: 50px;
  }

  .footer__social-list-item:not(:last-child) {
    margin-right: 3Ñ‹0px;
  }
}
